[Desktop Entry]
Version=1.0
Type=Link
Name=Holder back light for 31.6mm seat post bicycle bike by JonBAL - Thingiverse
Comment=
Icon=gnome-fs-bookmark
URL=http://www.thingiverse.com/thing:1487051
